.completed {
  text-decoration: line-through
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.wrapper{
  margin: 25% auto;
}

.list {
  list-style: none;
}
